*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #5f434d;
}

.bg {
  background-image: url(background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  padding-top: 60px;
  max-width: 100%;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

h3 {
  margin: 10px 0;
  color: skyblue;
}

.txtb {
  width: 100%;
  border: none;
  border-bottom: 2px solid #650f0f;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
}

.task {
  width: 100%;
  background: rgba(193, 10, 10, 0.5);
  padding: 18px;
  margin: 6px 0;
  overflow: hidden;
}

.task i {
  float: right;
  margin-left: 20px;
  cursor: pointer;
}

.comp .task {
  background: rgba(156, 153, 111, 0.5);
  color: #c12038;
}
